.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 32px;
  background-color: #242a2e;
  color: white;
  height: 30px;
}

.header_left {
  display: flex;
  align-items: center;
}

.header_left > input {
  width: 245px;
  height: 28px;
  margin-left: 15px;
  background-color: transparent;
  border: 1px solid #52575a;
  border-radius: 5px;
  color: white;
  padding: 0px 12px;
  font-size: 14px;
}

#search::placeholder {
  color: #c3c4c6;
  opacity: 1;
}

.header_links {
  display: flex;
  justify-content: space-between;
  width: 310px;
  margin-left: 14px;
  font-weight: bold;
}

.header_right {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  width: 96px;
}

.header_links > a {
  text-decoration: none;
  color: white;
}

.header_links > a:hover {
  color: #bebfc1;
}

.header_logo:hover {
  color: #bebfc1;
}

.header_left > a {
  text-decoration: none;
  color: white;
}
